
{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">
        <center><h3><strong>Get Data BTN Consumer</strong></h3></center>
    </div>
    <div class="panel-body">
        <form action="" method="post">
            <div class="form-group">
                <label for="ap_RegNo">ap_RegNo</label>
                <input name="ap_RegNo" type="text" class="form-control" id="ap_RegNo" placeholder="ap_RegNo">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
      