
{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">
        <center><h3><strong>Get List BTN Consumer</strong></h3></center>
    </div>
    <div class="panel-body">
        <form action="" method="post">
            <div class="form-group">
                <label for="data">data</label>
                <input name="data" type="text" class="form-control" id="data" placeholder="data">
            </div>
            <div class="form-group">
                <label for="tanggal">tanggal</label>
                <input name="tanggal" type="text" class="form-control" id="tanggal" placeholder="tanggal">
            </div>
            <div class="form-group">
                <label for="uid">uid</label>
                <input name="uid" type="text" class="form-control" id="uid" placeholder="uid">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
      