<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLASK-SQLALCHEMY</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <nav class="navbar navbar-default ">
          <div class="container-fluid">
              <ul class="nav navbar-nav">
                  <li><a href="/apis/btn-data-cosumer">get BTN data consumer </a></li>
                  <li><a href="/apis/btn-list-cosumer">get BTN list consumer </a></li>
                  <li><a href="/apis/btn-list-cosumer-range">get BTN list consumer range </a></li>
              </ul>
          </div>
      </nav>
      <div class="container">
          {% block content %}
          
          
          {% endblock %}
      </div>

    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
